{% extends 'base.html' %}

{% block content %}
<div class="card my-5">
    <form class="" method="post">
        {% csrf_token %}
        <div class="card-header">Eliminar Proyecto: {{object.title}}</div>
        <div class="card-body">
            <div class="alert alert-danger" role="alert">
                ¿Estas seguro de eliminar el registro numero {{object.id}} ?
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-danger">Aceptar</button>
            <a href="{% url 'projectpage' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock%}